/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #4b2c20;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo h1 {
    font-size: 1.5rem;
    color: #fff;
}

header nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

#inicio {
    margin-top: 80px;
    padding: 2rem;
    text-align: center;
    background-color: #f8f8f8;
}

.galeria-inicio {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.galeria-inicio img {
    width: 30%;
    border-radius: 10px;
    object-fit: cover;
}

#catalogo {
    padding: 2rem;
    text-align: center;
    background-color: #e7d5c4;
}

.productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
}

.producto img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background-color: #4b2c20;
    color: white;
    padding: 1em;
    text-align: center;
}

footer .redes-sociales a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
}
